In [1]:
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
import datetime

In [2]:
# get list of S&P 500 tickers
sp = si.tickers_sp500()
 
# pull data for each S&P stock
price_data = {ticker : si.get_data(ticker) for ticker in sp}

In [3]:
from functools import reduce
combined = reduce(lambda x,y: x.append(y), price_data.values())
combined

,open,high,low,close,adjclose,volume,ticker
1999-11-18,32.546494,35.765381,28.612303,31.473534,26.929762,62546380,A
1999-11-19,30.713518,30.758226,28.478184,28.880545,24.711119,15234146,A
1999-11-22,29.551144,31.473534,28.657009,31.473534,26.929762,6577870,A
1999-11-23,30.400572,31.205294,28.612303,28.612303,24.481598,5975611,A
1999-11-24,28.701717,29.998213,28.612303,29.372318,25.131903,4843231,A
...,...,...,...,...,...,...,...
2022-10-03,149.279999,152.850006,148.309998,151.350006,151.350006,1580200,ZTS
2022-10-04,153.240005,155.309998,152.600006,154.750000,154.750000,1676300,ZTS
2022-10-05,152.740005,155.630005,152.000000,154.589996,154.589996,1260200,ZTS
2022-10-06,153.789993,154.949997,152.240005,152.589996,152.589996,1324100,ZTS
2022-10-07,151.080002,151.410004,146.949997,147.369995,147.369995,2022200,ZTS

In [4]:
combined.to_csv('sp500_stocks_data.csv')